/*
margin 2rem auto -> para ficar centralizado
padding -> quando a tela diminuir ficar com o espaçamento de 16 pix 
grid = colunas 
configuração da coluna    1fr -> para dizer que o tamanho é flexivel
gap -> espaço entre os objetos
colocando align-items: flex-start; ele se inicia do topo o padrao é que ele tente esticar para os dois ter o msm tamanho 
*/
.wrapper {
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 256px 1fr;
  gap: 2rem;
  align-items: flex-start;
}

/*
quando a tela for menor do que 768 px entao vai mudar isso
*/
@media (max-width: 768px) {
  html {
    font-size: 87,5%;
  }
  .wrapper {
    grid-template-columns: 1fr;
  }
}



